@import "src/styles/mixins.scss";

$icon-diameter: 16px;

@mixin swipeIcons() {
  position: absolute;
  z-index: 8;
  top: calc(50% - $icon-diameter);
  margin: auto;
  cursor: pointer;

  svg {
    display: flex;
  }
}

.cards {
  margin-top: 51px;
  position: relative;
  overflow: hidden;

  &__container {
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
    transition: all .2s ease;
  }

  &__nextIcon {
    @include swipeIcons();
    right: 44px;
  }

  &__prevIcon {
    @include swipeIcons();
    left: (64px - $icon-diameter);
  }
}

.swiper {
  margin: 18px auto 0;
  display: flex;

  div {
    justify-content: center;
    gap: 6px;
  }
}