@import "src/styles/mixins.scss";

.videoBlock {
  height: 100vh;
  min-height: 580px;

  @include devices(mobile) {
    height: max-content;
  }

  &__container {
    padding: 60px 64px;

    @include devices(mobile) {
      padding: 40px 16px;
    }
  }

  h1 {
    @include blockTitle();
  }

  &__content {
    display: flex;
    column-gap: 40px;
    margin-top: 60px;

    @include devices(mobile) {
      flex-direction: column;
      margin-top: 26px;
    }

    &__text {
      width: 45%;

      @include devices(mobile) {
        width: 100%;
        margin-bottom: 26px;
      }

      p {
        @include bodyText();

        &:first-of-type {
          margin-bottom: 20px;
        }

        @include devices(mobile) {
          &:last-of-type {
            margin-top: 20px;
          }
        }
      }
    }

    &__video {
      position: relative;
      width: 55%;

      @include devices(mobile) {
        width: 100%;
      }

      img {
        width: 100%;
      }

      &__playButton {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        height: max-content;

        svg {
          cursor: pointer;
          &:hover {
            path {
              fill: #7BB495;
            }
          }
        }
      }
    }
  }
}