@import "src/styles/mixins.scss";

.gameplay {
  position: relative;
  background-image: url(./assets/Background.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;

  @include devices(mobile) {
    background-position: 100% 0;
    background-image: url(./assets/BackgroundMob.png);
  }

  &__container {
    @include devices(mobile) {
      background: rgba(51, 51, 51, 0.8);
    }
  }
}

.footsteps {
  position: absolute;
  z-index: 0;
  animation: walk infinite linear;
  left: 15%;
  top: -14px;
  transform: translate(0, 0) rotate(0);

  &__left {
    width: max-content;
    position: absolute;
  }

  &__right {
    position: absolute;
    top: -9px;
    left: 45px;
  }
}

// @keyframes footsteps {
//   0% {
//     transform: translate(0, 0) rotate(0);
//   }
//   10% {
//     transform: translate(-92px, 0) rotate(25deg);
//   }
//   20% {
//     transform: translate(-147px, 0) rotate(-25deg);
//   }
//   30% {
//     transform: translate(-201px, 0) rotate(-10deg);
//   }
//   40% {
//     transform: translate(-199px,0) rotate(-35deg);
//   }
//   50% {
//     transform: translate(-104px,0) rotate(-60deg);
//   }
//   60% {
//     transform: translate(77px,0) rotate(-55deg);
//   }
//   70% {
//     transform: translate(226px,0) rotate(-60deg);
//   }
//   80% {
//     transform: translate(387px,0) rotate(-70deg);
//   }
//   90% {
//     transform: translate(504px,0) rotate(-75deg);
//   }
//   100% {
//     transform: translate(674px,0) rotate(-80deg);
//   }
// }
