@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

@mixin transition($item) {
  @if $item == button {
    transition: all .2s ease-in-out;
  }

  @if $item == link {
    transition: width .3s ease;

  }
}

@mixin scrollBar {
  scrollbar-width: thin;
  scrollbar-color: #FBFBFB #333333;
  scrollbar-gutter: auto;

  &::-webkit-scrollbar {
    margin-right: 4px;
    background: #333333;
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FBFBFB;
    border-radius: 17px;
    width: 3px;
    height: 3px;
  }
}

@mixin mainTitle {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include devices(mobile) {
    font-size: 30px;
  }
}

@mixin blockTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;

  @include devices(mobile) {
    font-size: 24px;
  }
}

@mixin bodyText {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;

  @include devices(mobile) {
    font-size: 16px;
    line-height: 28px;
  }
}

@mixin dateText {
  color: #BEBEBE;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;

  @include devices(mobile) {
    font-size: 14px;
  }
}

@mixin errorText($margin-top) {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #f87272;
  margin-top: $margin-top;
}

@mixin swiperBox {
  display: none;

  div {
    gap: 6px;
    justify-content: center;
  }

  @include devices(mobile) {
    display: flex;
  }
}

@mixin swiperBullet {
  :global(.swiper-pagination-bullet) {
    opacity: 1;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: rgba(84, 161, 120, 0.49);
    transition: background-color .2s ease-in-out;
    cursor: pointer;
  
    @include devices(mobile) {
      width: 8px;
      height: 8px;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #54A178;
  }
}