@import "src/styles/mixins.scss";

.banner {
  height: 100vh;
  min-height: 500px;
  background: #040811;

  &_invisible {
    background-color: #FBFBFB;
  }

  @include devices(tablet) {
    height: 0;
    min-height: 95px;
    background: #333333;
  }

  &__fixedContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;

    @include devices(mobile) {
      display: none;
    }
  }

  &__bannerContainer {
    position: relative;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 0 64px;
    padding-top: 111px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

    &_invisible {
      opacity: 0;
    }

    @include devices(tablet) {
      display: none;
    }
  }

  &__content {
    width: 55%;
    position: relative;
    z-index: 2;

    @include devices(tablet) {
      width: 100%;
    }

    h1 {
      @include mainTitle();
      max-width: 670px;
      color: #FBFBFB;
      margin-bottom: 24px;

      @include devices(tablet) {
        margin-bottom: 0;
      }
    }

    &__button {
      width: 156px;

      @include devices(tablet) {
        display: none;
      }

      &_mob {
        display: none;
        @include devices(tablet) {
          display: block;
        }
      }
    }
  }
}