@import "src/styles/mixins.scss";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__navList {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;

    &_footer {
      column-gap: 76px;
    }
  }

  &__link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      display: block;
      width: 0%;
      height: 1px;
      background: #FFFFFF;
      @include transition(link);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}