@import "src/styles/mixins.scss";

.footer {
  background-color: #333333;

  &__container {
    padding: 0 64px;

    @include devices(tablet) {
      padding: 0 16px;
    }
  }

  &__mainBlock {
    padding: 40px 0 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    border-bottom: 1px solid #FBFBFB;

    @include devices(tablet) {
      flex-direction: column;
    }

    &__logo {
      cursor: pointer;
    }

    &__rightCol {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 46px;
      flex: 1;
      max-width: 746px;

      @include devices(tablet) {
        align-items: center;
        margin-top: 36px;
      }
    }
  }

  &__rights {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FBFBFB;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      display: flex;
      column-gap: 14px;

      @include devices(tablet) {
        font-size: 14px;
      }
    }
  }
}