@import "src/styles/mixins.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  box-sizing: border-box;
  min-width: 100%;
  height: 100%;

  outline: none;

  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &__name {
    white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: all ease-in-out 0.2s;

    &_invisible {
      visibility: hidden;
    }
  }

  &__icon {
    display: flex;

    svg {
      @include transition(button);
    }

    &_start {
      margin-right: 10.5px;
    }

    &_end {
      margin-left: 10.5px;
    }

    &_invisible {
      visibility: hidden;
    }
  }

  &--primary {
    height: 54px;
    border-radius: 10px;
    background: #98DDB8;

    &__name {
      color: #333333;
    }

    &:hover, &:active {
      background: #7BB495;
    }
  }

  &--secondary {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      display: block;
      width: 100%;
      height: 1px;
      background: #98DDB8;
      @include transition(link);
    }

    &__name {
      color: #98DDB8;
      font-weight: 500;
    }

    &:hover {
      &::after {
        width: 30%;
      }
    }
  }

  &_disabled {
    cursor: default;

    &:hover {
    }
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    animation: shadowLoading 1.5s infinite ease-in-out;
    //shadow
    box-shadow: 0 -15px 0 0px #272727, -15px -15px 0 #272727,
    15px -15px 0 #272727;

    @keyframes shadowLoading {
      0%,
      100% {
        box-shadow: 0 -15px 0 -5px #D5E68D,
        -15px -15px 0 -5px #D5E68D,
        15px -15px 0 -5px #D5E68D;
      }
      25% {
        box-shadow: 0 -15px 0 -5px #D5E68D,
        -15px -15px 0 0 #272727,
        15px -15px 0 -5px #D5E68D;
      }
      50% {
        box-shadow: 0 -15px 0 0 #272727,
        -15px -15px 0 -2px #272727,
        15px -15px 0 -5px #D5E68D;
      }
      75% {
        box-shadow: 0 -15px 0 -2px #272727,
        -15px -15px 0 -2px #272727,
        15px -15px 0 0 #272727;
      }
    }
  }
}
