.header {
  position: relative;
  width: 100%;
  background-color: #333333;
  height: 100px;

  &__container {
    padding: 0 64px;
    height: 100%;
  }

  &__logo {
    width: 166px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}