@import "src/styles/mixins.scss";

.header {
  position: relative;
  width: 100%;
  background-color: #333333;
  height: 100px;

  @include devices(tablet) {
    height: 95px;
    position: fixed;
    z-index: 9;
  }

  &__container {
    padding: 0 64px;
    height: 100%;

    @include devices(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      position: relative;
      z-index: 99;
      background-color: #333333;
    }
  }

  &__logo {
    width: 166px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    @include devices(tablet) {
      margin: 0;
      position: relative;
    }
  }
}

.burger {
  position: relative;
  width: 32px;
  height: 18px;
  display: none;

  @include devices(tablet) {
    display: block;
  }

  input {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    &:checked {
      + span {
        background: transparent;

        &:after {
          transform: rotate(45deg) translate(-1px, -12px);
        }

        &:before {
          transform: rotate(-45deg) translate(-4px, 16px);
        }
      }
    }
  }

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 9px;
    transition: all 0.1s;

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: #fff;
      top: -12px;
      transition: all 0.3s;
    }

    &:after {
      top: 12px;
    }
  }
}

.mobMenu {
  height: calc(100vh - 95px);
  background-color: #333333;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 43px;
  transform: translateY(-150%);
  transition: transform .4s ease;

  &_open {
    transform: translateY(0);
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__socials {
    margin: 0 auto;
  }
}