@import "src/styles/mixins.scss";

.vacancyInner {
  padding-top: 100px;

  &__content {
    max-width: 826px;
    margin: 80px auto;
    padding: 0 16px;

    @include devices(mobile) {
      margin: 40px auto 60px;
    }

    &__title {
      @include blockTitle();
      text-align: start;
      margin-bottom: 12px;
    }

    &__date {
      @include dateText();
      margin-bottom: 40px;

      @include devices(mobile) {
        margin-bottom: 16px;
      }
    }

    &__desc {
      @include bodyText();
      margin-bottom: 40px;

      @include devices(mobile) {
        margin-bottom: 16px;
      }
    }

    &__button {
      width: 124px;
      margin-bottom: 60px;

      @include devices(mobile) {
        width: 100%;
        margin-bottom: 40px;
      }
    }

    &__textBox {
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      p {
        @include bodyText();
      }

      h1 {
        @include blockTitle();
        text-align: start;
      }

      h2 {
        @include middleTitle();

        @include devices(mobile) {
          margin-bottom: 16px;
          font-size: 22px;
        }
      }

      &__imgBox {
        width: 100%;

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}