<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Type user</title>
</head>

<body style="background: #F2F5F8; font-family: 'Raleway', sans-serif;max-width:640px; min-width: 375px; padding: 32px; margin: 0 auto; box-sizing: border-box; height: min-content">
<div>
    <span style="color: #0B0B18;font-feature-settings: 'salt' on, 'liga' off;font-size: 24px;font-weight: 600;line-height: 32px">Full name: {{full_name}}</span>
    <span style="color: #0B0B18;font-feature-settings: 'salt' on, 'liga' off;font-size: 24px;font-weight: 600;line-height: 32px">Email: {{email}}</span>
    <span style="color: #0B0B18;font-feature-settings: 'salt' on, 'liga' off;font-size: 24px;font-weight: 600;line-height: 32px">Cover Letter: {{cover_letter}}</span>
    <span style="color: #0B0B18;font-feature-settings: 'salt' on, 'liga' off;font-size: 24px;font-weight: 600;line-height: 32px">Related Vacancy Page: {{vacancy_page}}</span>
</div>
</body>

</html>