@import "src/styles/mixins.scss";

.news {
  &__container {
    padding: 60px 0;
    position: relative;

    @include devices(tablet) {
      padding: 60px 16px 60px;
      height: max-content;
    }
  }

  &__header {
    padding: 0 64px;
    display: flex;
    justify-content: space-between;

    @include devices(tablet) {
      padding: 0;
    }

    &__title {

      @include devices(mobile) {
        margin-bottom: 51px;
      }

      h1 {
        @include blockTitle();
      }

      svg {
        width: 196px;
        position: absolute;
        top: 0;
        left: -5px;
        margin: auto;

        @include devices(tablet) {
          width: 116px;
          left: -20px;
          top: -10px;
        }
      }
    }

    &__button {
      width: 188px;

      @include devices(tablet) {
        display: none;
      }
    }

    &__buttonMob {
      display: none;
      width: 188px;
      margin: 18px auto 0;

      @include devices(tablet) {
        display: block;
      }
    }
  }
}