@import "src/styles/mixins.scss";

.chars {
  height: 100vh;
  min-height: 810px;
  background-image: url(./assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include devices(mobile) {
    min-height: max-content;
  }

  &__container {
    padding: 40px 0;
    position: relative;
    height: 100%;

    @include devices(mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  h1 {
    @include blockTitle();
    padding-left: 64px;
    color: #FBFBFB;
    text-align: start;

    @include devices(tablet) {
      text-align: center;
      padding-left: 0;
    }
  }
}