@import "src/styles/mixins.scss";

.chars {
  height: 100vh;
  min-height: 810px;
  background-image: url(./assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    padding: 40px 0;
    position: relative;
    height: 100%;
  }

  h1 {
    @include blockTitle();
    padding-left: 64px;
    color: #FBFBFB;
    text-align: start;
  }

  &__charsListBox {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__charsList {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
    margin-top: 40px;
    width: max-content;
    overflow: hidden;

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 18%;
      height: 445px;
      cursor: pointer;

      &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 28%;
      }
    }

    &__item {
      height: 345px;
      margin: 0 auto;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 240px;
        height: 320px;
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.05);
        filter: blur(2.5px);
      }

      &_main {
        height: 445px;

        &::before {
          display: none;
        }
      }

      &__image {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.mainContent {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 69px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: #54A178;
        }
      }
    }
  }

  &__text {
    height: 150px;
    width: 450px;
    overflow: hidden;

    h2 {
      @include blockTitle();
      color: #FBFBFB;
      margin-bottom: 20px;
    }

    p {
      @include bodyText();
      text-align: center;
      color: #FBFBFB;
    }
  }
}


@keyframes slideAnimation{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textAnimation{
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}